body {
    font-family: 'Poppins', sans-serif;
    background-color: #ecedf2;
}

.header_main,
.container_header {
    min-width: 100%;   
}

.logo_header,
.img_logo {
    height: 20px;
}

.title_header {
    font-size: 24px;
}

.navbar-toggler-icon {
    width: 24px;
    height: 18px;
}

.icone_msg_header {
    height: 32px;
}

.icone_perfil_menu {
    height: 24px;
}

.icone_menu {
    height: 16px;
}

.nome_perfil {
    text-decoration: none;
}

.icone_menu_perfil {
    height: 20px;
}

.icone_menu_dialgo {
    height: 32px;
}

.icone_menu_long {
    height: 26px;
}

::-webkit-input-placeholder {
    font-size: 12px;
}

.box_relative {
    position: relative;
}

.box_search {
    max-width: 1000px;
    position: absolute;
    bottom: 50px;

    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 1240px) {
    .box_search {
        max-width: 1000px;
        position: absolute;
        bottom: 30px;
    
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1110px) {
    .box_search {
        max-width: 1000px;
        position: absolute;
        bottom: 10px;
    
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1008px) {
    .box_search {
        max-width: 900px;
        position: absolute;
        bottom: 2px;
    
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 992px) {
    .box_search {
        display: none;
        
    }
}

.box_search_2 {
    max-width: 1000px;
}

.card-img {
    min-width: 300px;
    height: 250px;
}

.card_categoria {
    min-width: 300px;
    height: 250px;
}

@media screen and (max-width: 578px) {
    .card_categoria {
        display: block;
        margin-bottom: 15px;

        width: 150px;
        height: 200px;

        margin: 40px auto;
        
    }

}
